/** HEADER **/
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 8rem;
  background: var(--color-white-shade);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.06);

  /* Sticky Navigation */
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 2rem;
}

#navbar li a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-black-shade);
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: var(--color-green-shade-1);
}

/** HERO **/
#hero {
  background-image: url("../images/hero4.png");
  height: 90vh;
  width: 100%;
  background-position: top 25% right 0;
  background-size: cover;
  padding: 0 12rem 0 15rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h1 {
  color: var(--color-green-shade-1);
}

#hero button {
  padding: 1.4rem 8rem;
  color: var(--color-green-shade-1);
  font-size: 2.4rem;
  border: 0.5rem solid var(--color-green-shade-1);
  background-color: var(--color-white);
  cursor: pointer;
  font-weight: 700;
  transition: 0.5s ease;
}

#hero button:hover {
  color: var(--color-white);
  background-color: var(--color-green-shade-1);
}

/** FEATURED PRODUCTS **/
#featured-products {
  text-align: center;
}

#featured-products .product-container {
  display: flex;
  /* justify-content: space-between; */
  gap: 2rem;
  padding-top: 2rem;
  flex-wrap: wrap;
}

#featured-products .product {
  width: 23%;
  min-width: 25rem;
  padding: 1rem 1.2rem;
  border: 1px solid var(--color-white-shade-1);
  border-radius: 2.5rem;
  cursor: pointer;
  box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.02);
  margin: 1.5rem 0;
  transition: 0.2s ease;

  position: relative;
}

#featured-products .product:hover {
  box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.06);
}

#featured-products .product img {
  width: 100%;
  border-radius: 2rem;
}

#featured-products .product .description {
  text-align: start;
  padding: 1rem 0;
}

#featured-products .product .description span {
  color: var(--color-grey-tint-1);
  font-size: 1.2rem;
}

#featured-products .product .description h5 {
  padding-top: 0.7rem;
  color: var(--color-black-shade);
  font-size: 1.4rem;
}

#featured-products .product .description i {
  font-size: 1.2rem;
  color: var(--color-orange);
}

#featured-products .product .description h4 {
  padding-top: 0.7rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-green-shade-1);
}

#featured-products .product .cart {
  font-size: 2.4rem;
  color: var(--color-green-shade-1);

  position: absolute;
  bottom: 3.4rem;
  right: 2.4rem;
}

/*BANNER*/
#banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 64rem;
  height: 50vh;

  background-size: cover;
  background-position: center;

  padding: 3rem;
}

#banner .banner-box-1 {
  background-image: url("../images/banner/b17.jpg");
}

#banner .banner-box-2 {
  background-image: url("../images/banner/b10.jpg");
}

#banner h4 {
  color: var(--color-white);
  font-size: 2rem;
  font-weight: 300;
}

#banner h2 {
  color: var(--color-white);
  font-size: 2.8rem;
  font-weight: 800;
}

#banner span {
  color: var(--color-white);
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 1.5rem;
}

#banner .banner-box:hover button {
  background-color: var(--color-green-shade-1);
  border: 1px solid var(--color-green-shade-1);
}

#banner-sm {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 8rem;
}

#banner-sm .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 30%;
  height: 30vh;

  background-size: cover;
  background-position: center;

  padding: 3rem;
  margin-bottom: 2rem;
}

#banner-sm .banner-box-1 {
  background-image: url("../images/banner/b7.jpg");
}

#banner-sm .banner-box-2 {
  background-image: url("../images/banner/b4.jpg");
}

#banner-sm .banner-box-3 {
  background-image: url("../images/banner/b18.jpg");
}

#banner-sm .banner-box h2 {
  color: var(--color-white);
  font-weight: 800;
  font-size: 2.2rem;
}

#banner-sm .banner-box h3 {
  color: var(--color-white);
  font-weight: 800;
  font-size: 1.5rem;
  color: var(--color-orange-shade-1);
}

/*NEWSLETTER*/
#newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-image: url("../images/banner/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: var(--color-black-shade-1);
}

#newsletter h4 {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--color-white);
}

#newsletter p {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-grey-tint-1);
}

#newsletter p span {
  color: var(--color-orange);
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter input {
  height: 4.6rem;
  padding: 0 1.2rem;
  width: 100%;
  font-size: 1.4rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button {
  background-color: var(--color-green-shade-1);
  color: var(--color-white);

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/*FOOTER*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .follow h4 {
  color: var(--color-grey-tint-1);
  margin-bottom: 1rem;
}

.footer .follow .icon {
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
}
